html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.main1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5%;
}

.header {
    flex: 1;
}

#p1 {
    font-weight: bold;
    font-size: 30px;
    color: #333;
    margin: 0;
}

#p2 {
    font-size: 30px;
    color: grey;
    margin: 0;
    margin-left: 10px;
}

.actions {
    display: flex;
    align-items: center;
}

#cls1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #EB5353;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#cls2 {
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.main2 {
    display: flex;
    flex-wrap: wrap;
    gap: 60px; /* Add space between task cards */
    justify-content: center;
    overflow-y: auto;
}

.task-card {
    background-color: #fff;
    border: 2px solid #FF5D5D;
    border-radius: 10px;
    width: 260px;
    height:400px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-card hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

#p4 {
    font-size: 30px;
    color: #FF5D5D;
    margin: 0;
    text-align: center;
}

#p3 {
    text-decoration: line-through;
    color: red;
    font-size: 25px;
    margin: 10px 0;
}

#p5 {
    font-size: 20px;
    color: #333;
}

input[type="checkbox"] {
    margin-right: 5px;
}

a {
    text-decoration: none;
}